<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="LoginTask.dao.JoinerInterfaceDao">

	<select id="selectOne" resultType="LoginTask.model.Joiner">
	select id, pwd, name, TO_Char(birth, 'yyyy-mm-dd') as birth, gender, email, phone, photo, confirm from member where id = #{id}
	</select>

	<insert id="insert" parameterType="LoginTask.model.Joiner">
	insert into member (id, pwd, name, birth, gender, email, phone, photo) values( #{id} , #{pwd} , #{name}, #{birth2}, #{gender}, #{email}, #{phone}, #{photo})
	</insert>
	
	<update id="updateConfirmbyMail" parameterType="LoginTask.model.Joiner">
	update member set confirm = 'Yes' where id = #{id}
	</update>
	
	<update id="updateTempPwd" parameterType="LoginTask.model.Joiner" >
	update member set pwd = #{pwd} where id = #{id}
	</update>
	
	
	
	<!-- <select id="selectCount" resultType="Integer">
	select count(*) from member
	</select> -->
	
	<!-- <select id="selectList" resultType="LoginTask.model.Joiner">
	 select id, pwd, name, birth, gender, email, phone, photo  + 
					"from (select rownum rnum, id, pwd, name, birth, gender, email, phone, photo " + 
					"      from(select *  " + 
					"           from member m " + 
					"           order by m.name desc) " + 
					"       where rownum <= ?) " + 
					"where rnum >= ?";
	</select> -->
</mapper>