<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="LoginTask.dao.JoinerInterfaceDao">

	<select id="selectOne" resultType="LoginTask.model.Joiner">
	select id, pwd, name, DATE_FORMAT(birth, '%Y-%m-%d') as birth, gender, email, phone, photo, confirm from member where id = #{id}
	</select>

	<insert id="insert" parameterType="LoginTask.model.Joiner">
	insert into member (id, pwd, name, birth, gender, email, phone, photo) values( #{id} , #{pwd} , #{name}, #{birth2}, #{gender}, #{email}, #{phone}, #{photo})
	</insert>
	
	<update id="updateConfirmbyMail" parameterType="LoginTask.model.Joiner">
	update member set confirm = 'Yes' where id = #{id}
	</update>
	
	<update id="updateTempPwd" parameterType="LoginTask.model.Joiner" >
	update member set pwd = #{pwd} where id = #{id}
	</update>
	
	<select id="selectList" resultType="LoginTask.model.Joiner">
	select id, pwd, name, DATE_FORMAT(birth, '%Y-%m-%d') as birth, gender, email, phone, photo, confirm from member limit #{firstRow}, #{endRow}
	</select>
	
	<select id="selectCount" resultType="Integer">
	select count(*) from member
	</select>
	
	<select id="selectAll" resultType="LoginTask.model.Joiner">
	select * from member
	</select>
	
	<select id="convertedListbyBirth1" resultType="LoginTask.model.Joiner">
	select * from member where birth between #{from} and #{to}
	</select>
	
	<select id="convertedSelectAll" resultType="LoginTask.model.ConvertJoiner">
	select * from member
	</select>
	
	<select id="convertedListbyBirth" resultType="LoginTask.model.ConvertJoiner">
	select * from member where birth between #{from} and #{to}
	</select>
	
	<delete id="delete" parameterType="LoginTask.model.Joiner">
	delete from member where id = #{id}
	</delete>
	
	<!-- 방명록 -->
	<insert id="insertMessage" parameterType="LoginTask.model.Message">
	insert into guestbook_message (id, password, message)values(#{id}, #{password}, #{message})
	</insert>
	
	<select id="selectMessageCount" resultType="Integer">
	select count(*) from guestbook_message
	</select>
	
	<select id="selectMessageList" resultType="LoginTask.model.Message">
	select * from guestbook_message limit #{firstRow}, #{endRow}
	</select>
	
	<select id="selectMessage" resultType="LoginTask.model.Message">
	select * from guestbook_message where message_id = #{messageId}
	</select>
	
	<delete id="deleteMessage" parameterType="LoginTask.model.Message">
	delete from guestbook_message where message_id = #{messageId}
	</delete>
	
</mapper>